[webhook]
bot = bot_token
ip = public_ip
listen = local_listen_address
port = local_bind_port
cert = certificate_pem

[social]
group = telegram_url
spoilers = telegram_url
pdfs = pdfs_recap_url
channel = telegram_url
youtube = youtube_url
discord = discord_url
facebook = facebook_url

[settings]
admin = telegram_uid
publisher = telegram_uid
